
body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.flashcard {
    width: 1000px;
    height: 500px;
    background-color: #faf6ab;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

button {
    width: 125px;
    height: 50px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#report {
    margin-top: 20px;
    display: none;
}

#report-content {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
    width: 80%;
}

progress {
    width: 80%;
    height: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .flashcard {
        width: 80%;
        height: 300px;
        font-size: 18px;
    }

    .buttons {
        width: 100%;
        flex-direction: row;
    }

    #report-content {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .flashcard {
        width: 95%;
        height: 250px;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .buttons {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    button {
        margin: 5px;
        padding: 10px;
        font-size: 14px;
    }

    #report-content {
        width: 100%;
    }
}
