body {
    font-family: "DM Sans", sans-serif;
    text-align: center;

}

header {
  background-color:#0f4f20;
  color: #fff;
  margin: 0;
  width: 100%;
}
header h3{ 
  margin:auto;
  padding: 10px;
}

/* Navigation Bar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e8dc8f;
  padding: 5px;
  /* width: 100%; */
  margin: 0px;
  font-size: 1.5rem;

}
/* Hamburger Menu Styles */
.hamburger-menu {
  padding: 5px;
  /* cursor: pointer; */
  /* background-color: #fff; */
}
/* Rotating Hamburger incomplete Attempt
.hamburger-x .bar {
  transform: rotate(-45deg) translate(-5px, 6px);
} 
.bar {
  height: 4px;
  width: 35px;
  background-color: #414040;
  display: block;
  margin: 4px;
}  */
.hamburger-menu::before {
  content: "☰";
  color:#000;
}
.hamburger-menu.hamburger-x::before {
  content: "X";
  color: #000;

}

header nav a {
  color: #000;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  /* height: 100%; */
}
header nav ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  display: none; /* Hide the menu by default */

}
#menu.show {
  display: flex; /* Show the menu when the "show" class is added */
  flex-direction: column;
  width: 100%;
}
header nav ul li {
  display:block;
  flex: 1 1 100%;
  font-size: 1rem;
  padding: 5px;
}
header nav li:hover, header nav li a:hover {
  background-color: #0f4f20;
  color: #e8dc8f;
}

/* Temple Image Arrangement */
#temples figure {

  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin: auto;
  padding: 20px;
}
#temples figure img {
    width: 100%;
    /* max-width: 300px; */
    /* width: 250px; */
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
}

footer {
  background-color: #e8dc8f;
  padding: 10px;
  text-align: center;
}